<tr id="<%= music.id %>">
  <td><%= music.id %></td>
  <td><a href="https://www.youtube.com/watch?v=<%= music.vid %>"><%= music.title %></a></td>
  <td>
    <a href="remocon/delete_list/<%= music.id %>" data-remote="true">리스트 제거</a>
  </td>
</tr>
