<h1>리모콘 입니당</h1>
<hr>
<p>
  리스트 삭제는 실시간 적용이 아닙니다!
  새로고침 후에 반영됩니다.
</p>
<table>
  <tbody>
    <tr>
      <th>id</th>
      <th>제목</th>
      <th>버튼</th>
    </tr>
    <% @musics.each do |music| %>
      <tr id="<%= music.id %>">
        <td><%= music.id %></td>
        <td><a href="https://www.youtube.com/watch?v=<%= music.vid %>"><%= music.title %></a></td>
        <td>
          <a href="remocon/delete_list/<%= music.id %>" data-remote="true">리스트 제거</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<a href="remocon/previous" data-remote="true">이전 곡</a>
<a href="remocon/next" data-remote="true">다음 곡</a>

<hr>
<h5>음악 추가</h5>
<form action="remocon/musics" method="post" data-remote="true">
  <input type="text" name="url" id="urls" value="">
  <input type="submit">
</form>
<hr>
<h5>메세지 추가</h5>
<form action="remocon/messages" method="post" data-remote="true">
  <input type="text" name="body" id="messages" value="">
  <input type="submit">
</form>
