<!DOCTYPE html>
<html>
  <head>
    <title>LikelionMusicKitchen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  </head>

  <body>
    <script>
          var pusher = new Pusher("<%= ENV["pusher_key"] %>", {
            cluster: "<%= ENV["pusher_cluster"] %>",
            encrypted: true
          });
    </script>
    
    <%= yield %>

  </body>
</html>
